<div class="container">
  <nav class="border shadow rounded p-3">
  <%= link_to "Home", lists_path, class: "btn btn-primary" %>
  <%= link_to "Add a movie",  new_list_bookmark_path(@list), class: "btn btn-primary" %>
  </nav>
  <div class="border shadow rounded p-3 bg-primary text-white">
    <h2 class="text-center"><%= @list.name %></h2>
  </div>
  <% @list.bookmarks.each do |bookmark| %>
  <div class="border shadow rounded p-3 d-flex justify-content-between">
    <div>
      <%= image_tag bookmark.movie.poster_url, alt: "Poster of the movie #{bookmark.movie.title}", width: 180 %>
    </div>
    <div class="p-2">
      <h2><%= bookmark.movie.title %></h2>
      <p class="border"><%= bookmark.movie.overview %></p>
      <h4>Rating: <%= bookmark.movie.rating %></h4>
      <p>Comment: <%= bookmark.comment %></p>
    </div>
    <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </div>
  <% end %>
</div>
